html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    /*background-color: red;*/
    margin: 0 auto;
}

body {
    color: #1B1818;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

}

.header {
    background: #332208;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menuList {
    display: flex;
}

.menuItem {
    margin: 0 15px;
}

.menuListLink {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menuListLink:hover {
    border-bottom: 1px solid #fefefe;
}

.phone {
    font-size: 18px;
    line-height: 21px;
    color: #fefefe;
}

.top {
    padding-bottom: 100px;
}

.topHeading {
    display: flex;
    padding: 50px 0 30px;
}

.topContent {
    padding-top: 90px;
    text-align: center;
    width: 50%;
}

.topTitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 455px;
}

.topText {
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 470px;
}

.aplicationBtn {
    display: inline-block;
    text-transform: uppercase;
    color: #fefefe;
    background: #C5AC2D;
    padding: 16px 19px 15px;
    transition: all .5s;
    border: 1px solid transparent;
}

.aplicationBtn:hover {
    color: #C5AC2D;
    background: #fefefe;
    border: 1px solid #C5AC2D;
}

.topSlider {
    width: 50%;
}

.topSliderText {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    padding-right: 100px;
    text-align: right;
}

.topSliderImages {
    width: 100%;
    height: 100%;
}

.topSliderText span + span {
    padding-left: 12px;
}

.topBottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.topItems {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.topItem {
    border: 1px solid #1B1818;
    padding: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s;
}

.topItem:hover {
    transform: scale(1.25);
}

.topLinks {
    padding-right: 80px;
}

.topLink {
    color: #1B1818;
    border-bottom: 1px solid #1B1818;
}

.topLink + .topLink {
    margin-left: 20px;
}

/*slider*/
.carrousel_wrapper {
    height: 100%;
    overflow: hidden;
}

.rent {
    padding: 100px 0;
}

.rentInner {
    display: flex;
    justify-content: space-between;
}

.rentContent {
    width: 300px;
}

.rentTitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.rentText {
    margin-bottom: 20px;
}

.rentText + .rentText {
    margin-bottom: 40px;
}

.rentItem {
    border: 1px solid #332208;
    width: 250px;
    min-height: 350px;
    padding: 0 35px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rentItemNum {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 96px;
    line-height: 115px;
    opacity: 0.05;
}

.rentItemTitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: auto;
}

.benefits {
    padding: 100px 0;
}

.benefitsTitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}

.benefitsItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefitsList {
    width: 300px;
    list-style: none;
}

.benefitsListItem {
    margin-bottom: 27px;
    padding-right: 26px;
    position: relative;
    text-align: right;
}

.benefitsListItem::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #332208;
    right: 0;
    top: 3px;
}

.benefitsContent {
    width: 300px;
    text-align: right;
}

.benefitsListItem:nth-child(1),
.benefitsListItem:nth-child(7) {
    margin-right: 10px;
}

.benefitsListItem:nth-child(2),
.benefitsListItem:nth-child(6) {
    margin-right: 60px;
}

.benefitsListItem:nth-child(3),
.benefitsListItem:nth-child(5) {
    margin-right: 110px;
}

.benefitsListItem:nth-child(4) {
    margin-right: 155px;
}

.benefitsText {
    margin-bottom: 30px;
    text-align: right;
}

.benefitsText + .benefitsText {
    width: 267px;
    margin-left: auto;
}

.videoPopup {
    background-color: #C5AC2D;
    text-transform: uppercase;
    color: #fefefe;
    padding: 6px 34px 6px 64px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: auto;
}

.videoPopup::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("./images/play.svg");
    top: 12px;
    left: 34px;
}

.reviews {
    padding: 100px 0;
    background-color: #332208;
    color: #fefefe;
}

.reviewsTitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 70px;
}

.reviewsItem {
    border: 1px solid #C5AC2D;
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    min-height: 300px;
    text-align: center;
}

.reviewsItem + .reviewsItem {
    margin-left: 40px;
}

.reviewsItemName {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.reviewsSlider {
    display: flex;
}

.feedback {
    padding: 100px 0;
}

.feedbackInner {
    display: flex;
    align-items: center;
}

.feedbackImages {
    width: 50%;
}

.feedbackForm {
    width: 415px;
    margin: 0 auto;
}

.feedbackTitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
}

.feedbackText {
    margin-bottom: 30px;
}

.feedbackInput {

    display: block;
    padding: 20px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.feedbackInput::placeholder {
    line-height: 19px;
    font-size: 16px;
    color: #1B1818;
    font-family: 'Roboto Condensed', sans-serif;
}

.feedbackBtn {
    text-transform: uppercase;
    color: #fefefe;
    border: 1px solid transparent;
    background: #C5AC2D;
    display: inline-block;
    padding: 16px 36px 15px;
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 19px;
    transition: all .5s;
    cursor: pointer;
}

.feedbackBtn:hover {
    color: #C5AC2D;
    background: #fefefe;
    border: 1px solid #C5AC2D;
}

.footer {
    padding: 100px 0 24px;
    background-color: #332208;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.footerSocial {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerSocialLink {
    margin: 0 15px;
}

.menuBtn {
    display: none;
}

/* adaptation*/
@media (max-width: 1250px) {
    .benefitsImages {
        width: 40%;
    }
}

@media (max-width: 1140px) {
    .rentInner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .rentContent {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1000px) {
    .topHeading {
        display: block;
    }

    .topContent {
        width: 100%;
        padding-top: 30px;
    }

    .topSlider {
        width: 100%;
        height: 450px;
    }

    .topBottom {
        display: block;
    }

    .topLink {
        padding-right: 0;
        padding-top: 50px;
        text-align: center;
    }

    .topItems {
        width: 100%;

    }

    .slick-slider {
        height: 65%;
    }

    .benefitsContent {
        width: 100%;
        margin-top: 30px;
    }

    .benefitsItems {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .benefitsText + .benefitsText {
        width: 100%;
    }

    .benefitsImages {
        width: 70%;
    }

    .benefitsListItem {
        margin-right: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 26px;
    }

    .benefitsListItem::after {
        right: auto;
        left: 0;
    }

    .benefitsList {
        width: 100%;
    }

    .benefitsListItem:nth-child(4) {
        margin-right: 0;
    }

    .footer .menu {
        display: none
    }
}


@media (max-width: 860px) {


    .menu {
        order: 1;
    }

    .menuList {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #332208;
        right: 0;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all .5s;
    }

    .menuList.menuListActive {
        transform: translateY(0);
        margin-top: 0;
        margin-bottom: 0;
    }

    .menuListLink {
        padding: 20px 0;
        display: block;
    }

    .menuBtn {
        display: block;
        width: 35px;
        height: 24px;
        border: none;
        cursor: pointer;
        border-top: 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        background-color: transparent;
        position: relative;
    }

    .menuBtn::before {
        content: '';
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
    }

    .topLinks {
        margin-top: 20px;
        text-align: center;
        padding: 0;
    }

    .rentItem {
        margin: 30px;
    }

    .feedbackImages {
        display: none
    }

    .footer,
    .feedback,
    .reviews,
    .benefits,
    .rent {
        padding: 50px 0;
    }
}

@media (max-width: 800px) {
    .topSlider {
        width: 100%;
        height: 650px;
    }

    .topLinks {
        margin-top: 20px;
    }
}

@media (max-width: 650px) {
    .rentItem {
        width: 100%;
        min-height: 245px;
    }

    .rentItemTitle {
        margin-bottom: 20px;
    }

    .rentContent {
        text-align: center;
    }
}

@media (max-width: 525px) {
    .topItems {
        flex-wrap: wrap;
    }

    .topItem {
        margin: 20px;
    }

    .topSliderText {
        padding-right: 0;
    }
}

@media (max-width: 450px) {
    .footerTop {
        flex-direction: column;
        align-items: center;
    }

    .footer .phone {
        margin-top: 30px;
        display: inline-block;
    }
}


@media (max-width: 410px) {
    .topItem {
        width: 100%;
    }

    .topLinks {
        text-align: center;
    }

    .toplink {
        margin: 10px 15px;
        display: inline-block;
    }

    .toplink + .toplink {
        margin-left: 0;
    }

    .topSliderText {
        text-align: right;
    }

    .topSliderText span {
        display: block;
        margin: 10px 0;
    }

    .rentItem {
        margin: 30px 0;
    }
}